<!DOCTYPE html>
<html>
    <head>
        <title>Experiment Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="js/jquery-2.0.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <style type="text/css" media="screen">
            body {
                padding-bottom: 50px;
                padding-top: 70px;
            }
        </style>    
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">&hellip;</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">EconExpLab: Manager</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/manager/">Session Manager</a></li>
                <li class="active"><a href="#">Logs</a></li>
            </ul>
            <p class="navbar-text pull-right lead">Lab: <strong><span id='codeSpan'>shortCode</span></strong></p>

            </nav>

            <!-- Modal Dialog for Adding Treatment -->
            <div class="modal fade" id="addTreatment" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 id="modalLabel" class="modal-title">Add Treatment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <select id="availableTreatments" multiple class="form-control">
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button id="addSelectedTreatments" type="button" class="btn btn-primary">Add Selected Treatments</button>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6" style="text-align:right">
                                    <div class="form-group">
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Upload Treatment (*.zip)</span>
                                            <input id="fileupload" type="file" name="files[]" multiple data-url="/upload-zip/">
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <button id="deleteSelectedTreatments" type="button" class="btn btn-danger">Delete Selected Treatments</button>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                <span class="sr-only">0% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-2 col-lg-2">
                </div>
                <div class="col-xs-12 col-sm-10 col-lg-8 col-md-8">
                    <div class="page-header">
                        <h1>Treatments</h1>
                        <table class="table table-hover dropdown">
                            <thead>
                                <tr>
                                    <th>Order</th>
                                    <th>Treatment Name</th>
                                </tr>
                            </thead>
                            <tbody id="treatmentTableBody">
                                <tr id="addTreatmentRow">
                                    <td></td>
                                    <td>
                                        <a data-toggle="modal" href="#addTreatment" class="btn">
                                            <span class="glyphicon glyphicon-plus"></span> Add Treatment
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button id="start" type="button" class="btn btn-success btn-large">Start Treatment</button>
                    <button id="stop" type="button" class="btn btn-danger btn-large">Stop Treatment</button>

                    <div class="page-header">
                        <h1>Tables</h1>
                    </div>
                    <div id="tables" class="panel-group">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#clients" data-target="#clients">Clients</a>
                                </h3>
                            </div>
                            <div id="clients" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr><th>Subject #</th><th>Client #</th><th>Period</th><th>State</th><th>Time</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr><td>No Subjects Yet.</td><td></td><td></td><td></td><td></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <script src="js/vendor/jquery.ui.widget.js"></script>
        <script src="js/jquery.iframe-transport.js"></script>
        <script src="js/jquery.fileupload.js"></script>
        <script src="js/mgr_shell.js"></script>
    </body>
</html>

